<template>
  <div class="card">
    <div class="card-content">
      <h6 class="title is-6">
        {{ title }}
      </h6>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppDocumentCollectionDocumentCard',
  props: {
    title: {
      type: String,
      default: 'Documento senza titolo'
    }
  },
  methods: {
    select: function ($event) {
      this.$emit('select', $event)
    }
  }
}
</script>

<style scoped>
  .card {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.10);
    transition: all 5ms ease-in-out;
  }

  .card:hover {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.30);
    transition: all 5ms ease-in-out;
  }

  .card:active {
    background-color: #f5f5f5;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0);
  }

</style>
