<template>
  <div class="card is-shadowless is-info-card">
    <div class="card-content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-6 has-text-centered">
          <div class="content">
            <h4>Non hai nessun documento ancora.</h4>
            <p>Clicca il pulsante più in alto a destra per cominciare ad aggiungere nuovi documenti</p>
          </div>
          <figure>
            <img
              src="/images/add-document.png"
              alt="add-document-illustration">
          </figure>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
 .is-info-card {
   width: 100%;
   border-radius: 20px;
   background-color: #f5f5f5;
   border: 0;
 }
</style>
