<template>
  <textarea
    v-model="internalContent"
    :placeholder="contentPlaceholder"
    @input="update"/>
</template>

<script>

export default {
  data () {
    return {
      internalContent: ''
    }
  },
  props: {
    contentPlaceholder: {
      default () {
        return ''
      },
      type: String
    },
    content: {
      default () {
        return ''
      },
      type: String
    }
  },
  watch:{
    content (newValue, oldValue) {
      this.internalContent = JSON.parse(JSON.stringify(newValue))
    }
  },
  created () {
    this.internalContent = JSON.parse(JSON.stringify(this.content))
  },
  methods: {
    update ($event) {
      this.$emit('update', $event.target.value)
    }
  }
}
</script>

<style lang="scss">
  textarea {
    border-style:none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    width: 100%;
    height: 350px;
  }
</style>
