<template>
  <nav
    class="pagination"
    role="navigation"
    aria-label="pagination">
    <a
      v-if="current > 1"
      class="pagination-previous is-secondary-button"
      @click="onChange(current-1)">Indietro</a>
    <a
      v-if="current < totalPages"
      class="pagination-next is-secondary-button"
      @click="onChange(current+1)">Prossima pagina</a>
    <ul class="pagination-list">
      <li
        v-if="current > 1">
        <a
          class="pagination-link is-pagination-link"
          @click="onChange(current-1)">
          {{ current - 1 }}
        </a>
      </li>
      <li>
        <a
          class="pagination-link is-current-link-pagination">
          {{ current }}
        </a>
      </li>
      <li
        v-if="current < totalPages">
        <a
          class="pagination-link is-pagination-link"
          @click="onChange(current+1)">
          {{ current + 1 }}
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>

export default {
  props: {
    totalPages: {
      type: Number,
      default: 0
    },
    current: {
      type: Number,
      default: 0
    }
  },
  methods: {
    onChange (page) {
      this.$emit('onChange', page)
    }
  }
}
</script>

<style lang="scss" scoped>
.is-secondary-button {
  background-color: white;
  border-color: black;
  border-radius: 0;
  &:hover {
    background-color: #f5f5f5;
    border: 0;
    }
  &:active {
    background-color: #ababab;
    border: 0;
    color: white;
  }
}

.is-current-link-pagination {
  border-radius: 100px;
  background-color: #fe736f;
  color: white;
  width:30px;
  height: 30px;
  border: 0;
}

.is-pagination-link {
    border-radius: 100px;
    background-color: white;
    width:30px;
    height: 30px;
    border: 0;
    &:hover {
      background-color: #f5f5f5;
      }
    &:active {
      background-color: #ababab;
    }
  }
</style>
