<template>
  <div>
    <section
      class="section"
      style="margin-top:-10px">
      <div class="level is-mobile">
        <div class="level-left">
          <base-button
            class="is-circular-white"
            @click="redirectDocumentCollection">
            <base-icon
              icon="arrow-left:medium"/>
          </base-button>
        </div>
        <div class="level-right">
          <base-button
            v-show="!isSavedLabelVisible"
            class="button is-medium is-secondary-button"
            @click="update()">
            Salva
          </base-button>
          <span
            v-show="isSavedLabelVisible"
            style="border-radius: 0;"
            class="tag is-success is-large">
            {{ isSavedLabel }}
          </span>
        </div>
      </div>
    </section>
    <section
      class="section"
      style="padding-top: 0px;">
      <div class="container">
        <div>
          <h4 class="title is-4">Titolo</h4>
          <base-input
            :placeholder="$t('STENOGRAFO.DOCUMENT_EDITOR.TITLE_PLACEHOLDER')"
            v-model="internalDocument.title"
            @input="updateDocumentTitle($event)"/>
        </div>
        <br>
        <br>
        <base-markdown-editor
          :content-placeholder="$t('STENOGRAFO.DOCUMENT_EDITOR.CONTENT_PLACEHOLDER')"
          :content="internalDocument.content"
          @update="updateDocumentContent($event)"/>
      </div>
    </section>
  </div>
</template>

<script>
import BaseMarkdownEditor from '@/modules/stenografo/components/BaseMarkdownEditor'

export default {
  components: {
    BaseMarkdownEditor
  },
  props: {
    id: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      isSavedLabel: '',
      isSavedLabelVisible: false,
      internalDocument: {
        title: '',
        content: ''
      }
    }
  },
  computed: {
    title () {
      return this.$store.getters['stenografo/document'].title
    },
    content () {
      return this.$store.getters['stenografo/document'].content
    },
    isSaved () {
      return this.$store.getters['stenografo/isSaved']
    },
    isWaitingToSave () {
      return this.$store.getters['stenografo/isWaiting']
    },
    currentRealm () {
      return this.$store.getters['app/currentRealm']
    }
  },
  watch: {
    currentRealm (newValue) {
      if (newValue) {
        this.$store.dispatch('stenografo/getDocument', this.id)
      }
    },
    isSaved (newValue, oldValue) {
      this.isSavedLabelVisible = true
      if (this.isWaitingToSave && !this.isSaved) {
        this.isSavedLabel = 'Salvataggio in corso!'
      } else if (!this.isWaitingToSave && this.isSaved) {
        this.isSavedLabel = 'Salvato!'
      } else {
        this.isSavedLabel = 'Errore salvataggio!'
      }
      setTimeout(() => {
        this.isSavedLabelVisible = false
      }, 7000)
    },
    title (newValue, oldValue) {
      this.internalDocument.title = newValue
    },
    content (newValue, oldValue) {
      this.internalDocument.content = newValue
    }
  },
  created () {
    if (this.currentRealm) {
      this.$store.dispatch('stenografo/getDocument', this.id)
      if (this.title) {
        this.internalDocument.title = this.title
      }
      if (this.content) {
        this.internalDocument.content = this.content
      }
    }
  },
  methods: {
    update () {
      this.$store.dispatch('stenografo/updateDocument', this.id)
    },
    updateDocumentContent (content) {
      this.$store.commit('stenografo/STENOGRAFO_UPDATE_DOCUMENT_CONTENT', content)
    },
    updateDocumentTitle (title) {
      this.$store.commit('stenografo/STENOGRAFO_UPDATE_DOCUMENT_TITLE', title)
    },
    redirectDocumentCollection () {
      this.$router.push({ name: 'STENOGRAFO.DOCUMENT_COLLECTION.$NAME' })
    }
  }
}
</script>

<style scoped lang="scss">
.is-circular-white {
    border-radius: 50px;
    background-color: white;
    width:50px;
    height: 50px;
    border: 0;
    &:hover {
      background-color: #f5f5f5;
      }
    &:active {
      background-color: #ababab;
    }
  }
.is-secondary-button {
  background-color: white;
  border-color: black;
  &:hover {
    background-color: #f5f5f5;
    border: 0;
    }
  &:active {
    background-color: #ababab;
    border: 0;
    color: white;
  }
}
</style>
