<template>
  <div>
    <section
      class="section"
      style="margin-top:-80px; padding-bottom: 5px; ">
      <div
        class="container is-flex"
        style="justify-content: flex-end;">
        <base-button
          class="is-circular"
          @click="newDocument('')">
          <base-icon
            class="has-text-white"
            icon="plus:medium"/>
        </base-button>
      </div>
    </section>
    <section
      style="padding-top: 0;"
      class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-9">
            <div class="content">
              <h1>I miei articoli</h1>
            </div>
          </div>
          <div
            v-if="!documentList"
            class="column is-12">
            <app-document-collection-empty-collection-card/>
          </div>
          <div
            v-for="document in documentList"
            :key="document.id"
            :document="document"
            class="column is-one-third">
            <a @click="getDocument(document.id)">
              <app-document-collection-document-card
                :title="document.title ? document.title : 'Documento senza titolo'"/>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section
      v-if="documentList"
      class="section is-fixed">
      <div
        class="container">
        <base-pagination
          :total-pages="totalPages"
          :current="currentPage"
          @onChange="onChange($event)"/>
      </div>
    </section>
  </div>
</template>

<script>
import AppDocumentCollectionDocumentCard from '@/modules/stenografo/components/AppDocumentCollectionDocumentCard'
import BasePagination from '@/modules/stenografo/components/BasePagination'
import AppDocumentCollectionEmptyCollectionCard from '@/modules/stenografo/components/AppDocumentCollectionEmptyCollectionCard'

export default {
  components: {
    AppDocumentCollectionDocumentCard,
    BasePagination,
    AppDocumentCollectionEmptyCollectionCard
  },
  data () {
    return {
      currentPage: 1,
      pageLimit: 10
    }
  },
  computed: {
    id () {
      return this.$store.getters['stenografo/document'].id
    },
    documentList () {
      return this.$store.getters['stenografo/documentList']
    },
    document () {
      return this.$store.getters['stenografo/document']
    },
    currentRealm () {
      return this.$store.getters['app/currentRealm']
    },
    totalPages () {
      const documentsCount = this.$store.getters['stenografo/documentsCount']
      const totalPages = documentsCount / this.pageLimit
      const approximateByExcess = Math.ceil(totalPages)
      return approximateByExcess
    }
  },
  watch: {
    currentRealm (newValue, oldValue) {
      if (newValue) {
        this.$store.dispatch('stenografo/getDocumentList', this.currentPage)
      }
    },
    id (newValue, oldValue) {
      this.$router.push({ name: 'STENOGRAFO.DOCUMENT_EDITOR.$NAME', params: { id: newValue } })
    },
    '$route' (to, from) {
    }
  },
  created () {
    if (this.currentRealm) {
      this.$store.dispatch('stenografo/getDocumentList', this.currentPage)
    }
  },
  methods: {
    onChange ($event) {
      this.currentPage = $event
      this.$store.dispatch('stenografo/getDocumentList', this.currentPage)
    },
    getDocument ($event) {
      this.$router.push({ name: 'STENOGRAFO.DOCUMENT_EDITOR.$NAME', params: { id: $event } })
    },
    newDocument ($event) {
      this.$store.dispatch('stenografo/updateDocument', $event)
    }
  }
}
</script>

<style scoped lang="scss">

  .is-circular {
    border-radius: 50px;
    background-color: #fe736f;
    width:64px;
    height: 64px;
    border: 0;
    &:hover {
      background-color: darken(#fe736f, 5%);
    }
    &:active {
      background-color: darken(#fe736f, 5%);
      border: 0;
      transform: translateY(3px);
    }
  }
</style>
